<br>
<h3>Enregistrement</h3>
<div class="moncontainer">
    <div class="enfant1">

    </div>
    <div class="enfant2">
        <form [formGroup]="fg" (ngSubmit)="AddCustomer(user)" >
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nom</span>
                <input type="text"  formControlName="nom" [(ngModel)]="user.lastname" class="form-control">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Prénom</span>
                <input type="text"  formControlName="prenom"  [(ngModel)]="user.firstname" class="form-control">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                <input type="text" formControlName="email"  [(ngModel)]="user.email" class="form-control" >
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Password</span>
                <input type="password"  formControlName="password"  [(ngModel)]="user.password" class="form-control" >
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Confirm</span>
                <input type="password" class="form-control" formControlName="confirm" >
            </div>

            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Adresse</span>
                <input type="text"  formControlName="rue" [(ngModel)]="user.rue" class="form-control"  placeholder="Rue">
                <input type="text"  formControlName="numero" [(ngModel)]="user.numero" class="form-control"  placeholder="Numéro">
            </div>
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Adresse</span>
                <input type="text"  formControlName="codepostal" class="form-control" [(ngModel)]="user.codePostal"  placeholder="Code postal">
                <input type="text" formControlName="ville" class="form-control" [(ngModel)]="user.ville" placeholder="Ville" >
                <input type="text" formControlName="pays" class="form-control" [(ngModel)]="user.pays" placeholder="Pays" >
            </div>
            <div class=".d-flex justify-content-center">
                <button class="btn btn-outline-success " type="submit">S'enregistrer</button>
            </div>
        </form>
    </div>
    <div class="enfant3">

    </div>
</div>


