.grandcontainer{
    display: flex;
    flex-direction: row;
    height: 70vh;
}

.map-container {
    position: sticky;
    top: 0;
    right: 0;
    height: 80vh;
    width:50%
}
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
    margin-right: 10px;
    border-radius: 10px;
   
  }
  
  #map {
    height: 100%;
  }
button{
  margin-right:10px;
}