


<nav class="navbar navbar-expand-lg" style="background-color: #52BE80">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="Home"><img src="assets/icone/accueil.svg"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="ProductList">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ProducerList">Producteurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Map">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="whoIsConnected=='producer'" routerLink="MyProducts">Mes produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="whoIsConnected=='customer'"   routerLink="MyPurchases">Mes réservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="About">A propos de nous</a>
          </li>
          
        <div class="rightItem">
            <li class="nav-item drop">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="assets/icone/user.png">
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li *ngIf="whoIsConnected=='undefined'"><a class="dropdown-item" routerLink="Login">Se connecter</a></li>
                <li *ngIf="whoIsConnected=='undefined'"><a class="dropdown-item" routerLink="Choix">S'enregistrer</a></li>
                <li *ngIf="whoIsConnected!='undefined'"><a class="dropdown-item" routerLink="MyProfil">Voir mon profil</a></li>
                <li *ngIf="whoIsConnected!='undefined'"><a class="dropdown-item" routerLink="Logout">Se déconnecter</a></li>
              </ul>
            </li>
        </div>
            
          
        </ul>
      </div>
    </div>
  </nav>