<br>
<h3>Enregistrement</h3>
<div class="moncontainer">
    <div class="enfant1">

    </div>
    <div class="enfant2">
      <p>Souhaitez-vous vous enregistrer en tant que producteur ou en tant que client ?<br>
        <span style="color:red; font-size: small;">&#x26A0; Seuls les producteurs peuvent vendre des produits.</span>
      </p> 
     
      <div class="container2">
        <div class="enfant4" routerLink="/RegisterProducer">Producteur</div>
        <div class="enfant5" routerLink="/RegisterUser">Client</div>
      </div>
    </div>
    <div class="enfant3">

    </div>
</div>


