<br>
<h3>Déconnexion</h3>
<div class="moncontainer">
    <div class="enfant1">

    </div>
    <div class="enfant2">
    <p>Souhaitez-vous vraiment vous déconnecter?</p>    
    <div class="container2">
        <button type="button" (click)="deconnexion()" >Oui</button>
        <button routerLink="/ProductList">Non</button>
        <!-- <div class="enfant4" type="submit" (submit)="deconnexion()">Oui</div>
        <div class="enfant5" routerLink="/ProductList" >Non</div> -->
      </div>
    </div>
    <div class="enfant3">

    </div>
</div>


